@media screen and (max-width: 768px) and (min-width:300px){
    *{
        padding: 0px;
        margin: 0px; 
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    :root{
        --cor1:#1dd85f;
        --cor2:#000000;
        --cor3:#ffffff;
    }
    header{
        display: flex;
        background-color: #000000;
        color: #ffffff;
        
    }
    
    header >#perfil{
        width: 60px;
        padding: 10px;
        border-radius: 100%;
    }
    header > h1{
        margin: 20px 15px 20px 15px;
        display: block;
  
    }
    header > span#lupa{
         margin: auto;
         margin-left: 0px;
         margin-right: 0px;

    }
    header > span#mais{
        margin: auto;
        justify-content: flex-end;
        margin-left: 0px;
        margin-right: 0px;
        padding-right: 30px;
        
    }
   
    
}