@media screen and (min-width:300px) and (max-width: 500px){
    *{
        padding: 0px;
        margin: 0px; 
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        overflow: hidden;
    }
    :root{
        --cor1:#1dd85f;
        --cor2:#000000;
        --cor3:#ffffff;
    }
    header{
        background-color: #000000;
        color: #ffffff;
        height: 50px;
        padding: 10px; 
        width: 100vw;
        
    }
    div#sua {
        display: flex;
        justify-content: flex-start;
    }
    #perfil{
        border-radius: 100%;
        height: 50px;  
        margin-left: 10px; 
    }
    div#sua >h1{
        padding-top: 8px;
        margin-left: 15px;
    }
    /*icones de cabecalho */
    div#icones{
        display: flex;
        justify-content: flex-end;
    }
    img#lupa {
        height: 25px;
        margin-top: -50px;
        margin-right: 10px;
        padding-top: 12px;
    }   
    img#mais{
        height: 35px;
        margin-top: -50px;
        margin-right: 30px;
        padding-top: 7px;
    }   
    /*abas */
    #abas{
        display: flex;
        padding: 10px;
        color: white;
        background-color: #000000;
        justify-content: space-evenly;
        width: 100vw;
    }
    #abas > #play1, #play2 , #play3{
        background-color: #2A2A2A;
        padding: 10px;
        border-radius: 25px 25px ;
    }
    /* main */
    main{
        background-color: #000000;
        color: white;
        padding: 10px;
        width: 100vw;
    }
    #recente{
        display: flex;
        justify-content: flex-start;
    }
    #recente > img#setas{
        height: 20px;
        margin-left: 10px;
        margin-right: 10px;
    }
    #recente > p{
        font-size: 20px
    }
    #ham{
        display: flex;
        justify-content: flex-end;
        margin-top: -20px;
        margin-right: 40px;
    }
    #ham > img#hamburguer{
        height: 20px;
    }
    /*main parte dos boxs */
    #caixas{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    #box{
        margin: 5px;
    }
    #box > img{
        height: 100px;
        width: 115px;
        padding: 10px;
    }

    /* footer */

    footer{
        color: white;
        background-color: #000000;
        display: flex;
        justify-content: space-evenly;
        height: 100vw;
    }
    
    /* inicio */
    div#inicio{
        padding: 10px 0px;
    }
    div#inicio > img#casa{
        height: 20px;
        padding-left: 10px;
    }
    div#inicio >p {
        text-align: center;
    }
    
    
    /*pesquisa */

    div#pesquisa{
        padding: 10px 0px;
    }

    div#pesquisa > img#lupa2{
        height: 20px;
        padding-left: 25px;
    }

    div#pesquisa > p {
        text-align: center;
    }

    /*biblioteca */
    div#bibli{
        padding: 10px 0px;
    }

    div#bibli > img#biblioteca{
        height: 20px;
        padding-left: 38px;
    }
    div#bibli > p {
        text-align: center;
    }
}